{% extends 'base.html.twig' %}

{% block title %}Connexion - {% endblock %}

{% block body %}
<form method="post" class="col-md-4 mx-auto">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="text-center">
        <img src="{{ asset('assets/img/palette.png') }}" alt="Logo GPAL" width="155px">
        <h1 class="h3 mb-3 font-weight-normal text-custom">Connexion</h1>
        <p class="text-custom2">
            Application de gestion des stock de palettes <br>
            <em class="text-dark">Séléctionner un profils et connectez-vous.</em>
        </p>
    </div>

    <div class="form-group">
        <label for="inputUsername">Nom d'utilisateur</label>    
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    </div>
    
    <div class="form-group mt-3">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-custom d-block w-100 text-white mt-3" type="submit">
        Se connecter
    </button>
</form>
{% endblock %}
