
<!-- Modal -->
<div class="modal fade" id="addPaletteModal" tabindex="-1" aria-labelledby="addPaletteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPaletteModalLabel">Ajouter une palette</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="h4 mb-3 text-custom">Ajouter une palette</h2>
        <p>Les palette sont ajouter avec la date du jour de saisie.</p>
        <form action="{{ path('add_palette') }}" methods="post">
          <div class="mb-3">
            <label for="palette_reference" class="form-label required">Référence</label>
            <input type="text" onkeyup="listRef('{{listRefs}}')" id="palette_reference" name="palette[reference]" {% if ref is defined %} value='{{ref}}' {% endif %} required="required" aria-describedby="palette_reference_help" class="form-control">       
            <p id="palette_reference_help" class="form-text mb-0 help-text">Si la référnce n'existe pas, vous devrez l'ajouter.</p>
          </div>
          <div class="row">
              <div class="col-6">
                  <div class="mb-3">
                    <label class="form-label required" for="palette_weg">Allée</label>
                    <select id="palette_weg" name="palette[weg]" class="form-select" require>
                      <option >Choisir ...</option>
                      <option value="1">A1</option>
                      <option value="2">A2</option>
                      <option value="3">A3</option>
                      <option value="4">A4</option>
                      <option value="5">A5</option>
                      <option value="6">A6</option>
                      <option value="7">A7</option>
                      <option value="8">A8</option>
                      <option value="9">A9</option>
                      <option value="10">A10</option>
                      <option value="11">A11</option>
                      <option value="12">A12</option>
                      <option value="13">A13</option>
                    </select>        
                  </div>
              </div>
              <div class="col-6">
                  <div class="mb-3">
                    <label class="form-label required" for="palette_shelf">Rayon</label>
                    <select id="palette_shelf" name="palette[shelf]" class="form-select" require>
                      <option >Choisir ...</option>
                      <option value="1">R1</option>
                      <option value="2">R2</option>
                      <option value="3">R3</option>
                      <option value="4">R4</option>
                      <option value="5">R5</option>
                      <option value="6">R6</option>
                      <option value="7">R7</option>
                      <option value="8">R8</option>
                      <option value="9">R9</option>
                      <option value="10">R10</option>
                      <option value="11">R11</option>
                      <option value="12">R12</option>
                      <option value="13">R13</option>
                      <option value="14">R14</option>
                      <option value="15">R15</option>
                      <option value="16">R16</option>
                      <option value="17">R17</option>
                      <option value="18">R18</option>
                      <option value="19">R19</option>
                      <option value="20">R20</option>
                      <option value="21">R21</option>
                      <option value="22">R22</option>
                      <option value="23">R23</option>
                      <option value="24">R24</option>
                      <option value="25">R25</option>
                      <option value="26">R26</option>
                    </select>        
                  </div>
              </div>
          </div>
          <input type="hidden" name="add_palette_link" id="add_palette_link" require readonly>
          <input type="hidden" name="add_palette_ref" id="add_palette_ref" require readonly>
          <div class="row justify-content-between mt-4">
              <div class="col-md-2 text-start">
                  <a class="btn btn-outline-secondary mb-5" data-bs-dismiss="modal" aria-label="Close">Fermer</a>
              </div>
              <div class="col-md-10 text-end">
                  <div class="mb-3"><button type="submit" id="palette_submit" name="palette[submit]" class="w-100 btn btn-custom-primary btn">Ajouter la platte</button></div>
              </div>
          </div>
        </form>
    </div>
  </div>
</div>